flask
opencv-python
numpy
openvino-dev
matplotlib
cvzone
ultralytics
hydra-core
Pillow
PyYAML
requests
scipy
torch
torchvision
tqdm
filterpy
scikit-image
lap
flask
pandas
numpy
matplotlib
seaborn
scikit-learn
tensorflow